:root{
    /*Farver*/
    --hvid: #FFF2E1;
    --rose: #FBC6C5;
    --støvet: #D16A68;
    --blod: #610505;
    --maroon: #840A08;
    --postkasserod:#A71916;
    --lilla: #200728;

      /* Fonte */
    --brodtekst: 'lato', sans-serif;
    --brodtekst-tynd: 300;
    --brodtekst-regular: 300;
    --overskrift: 'poppins', sans-serif;
    --overskrift-tyk: 900;
}

body {
  background-color: var(--hvid); /*Baggrundsfarven*/
}

h1{
    font-family: var(--overskrift);/*Tekstens font */
    font-weight: var(--overskrift-tyk);/*Tykkelse på fonten */
    font-size: 400%; /*tekst størrelse*/
    color: var(--støvet); /*Teksten farve*/
    text-transform: uppercase; /*Gør alle bogstver store*/
    justify-self: center; /*Centrere teksten*/
    margin-top: -1%;
}

#infographic{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: -3%;
    margin-left: -10%;
}

#sommerfigur{
    width: 10%;
    height: auto;
    display: flex;
    justify-self: center;
    margin-top: -10%;
}