:root{
    /*Farver*/
    --hvid: #FFF2E1;
    --rose: #FBC6C5;
    --støvet: #D16A68;
    --blod: #610505;
    --maroon: #840A08;
    --postkasserod:#A71916;
    --lilla: #200728;

      /* Fonte */
      --brodtekst: 'lato', sans-serif;
      --overskrift: 'poppins', sans-serif;
      --overskrift-tyk: 900;
}

body {
  background-color: var(--hvid); /*Baggrundsfarven*/
}

.knap {
    position: absolute; /* Gør det muligt at placere knapperne i hjørnerne */
    width: 5%; /* Knappernes størrelse */
    height: auto; /* Knappernes størrelse */
    display: block; /* Sørger for hele billedområdet er klikbart */
    cursor: pointer; /* Gør musen til en pegende hånd ved hover */
    z-index: 10; /* Sørger for at knapperne ligger over andre elementer */
  } 
  
  /* Placering af knapper i hvert hjørne af skærmen */
  .tilbage { 
    top: 2%; 
    left: 20; 
  }

h1{
    font-family: var(--overskrift);/*Tekstens font */
    font-weight: var(--overskrift-tyk);/*Tykkelse på fonten */
    font-size: 400%; /*tekst størrelse*/
    color: var(--støvet); /*Teksten farve*/
    text-transform: uppercase; /*Gør alle bogstver store*/
    justify-self: center; /*Centrere teksten*/
    margin-top: -1%;
}

#infographic{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: -3%;
    margin-left: -10%;
}
.figur {
    position: absolute;
    width: 4%; 
    z-index: -1; /* bag indhold */
    pointer-events: none; /* så den ikke forstyrrer klik */
    position: absolute;
    transition: top 2s ease, left 2s ease; /* Glidende bevægelse */
  }

  .figur1 {
    top: 10%; /* afstand til top*/
    left: 37%; /*afstand til venstre*/
    width: 3%; /*ændre på størrelse af figuren*/
    transform: rotate(20deg); /* Roterer med uret */
  }
  
  .figur2 {
    top: 30%;
    left: 1%;
    transform: rotate(100deg); 
  }
  
  .figur3 {
    top: 90%;
    left: 3%;
    width: 3%; 
    transform: rotate(60deg);
  }
  
  .figur4 {
    top: 70%;
    left: 50%;
    transform: rotate(30deg); 
  }
  
  .figur5 {
    top: 87%;
    left: 30%;
    transform: rotate(90deg); 
    width: 1%; 
  }
  
  .figur6 {
    top: 10%;
    left: 70%;
    transform: rotate(20deg); 
  }
  
  .figur7 {
    top: 5%;
    left: 15%;
    transform: rotate(20deg); 
  }
  
  .figur8 {
    top: 5%;
    left: 95%;
  }
  
  .figur9 {
    top: 30%;
    left: 50%;
  }

#sommerfigur{
    width: 10%;
    height: auto;
    display: flex;
    justify-self: center;
    margin-top: -10%;
}

#talebobbel{
    width: 45%;
    height: auto;
    display: flex;
    padding-left: 55%;
    margin-top: -12%;
  }
  
  .footer_tekst{
    font-family: var(--overskrift);
    font-weight: var(--overskrift-tyk);
    font-size: 87%;
    color: var(--stovet);
    text-align: center;
    display: flex;
    padding-left: 63%;
    margin-top: -8.5%;
  }