:root{
    /*Farver*/
    --hvid: #FFF2E1;
    --rose: #FBC6C5;
    --stovet: #D16A68;
    --blod: #610505;
    --maroon: #840A08;
    --postkasserod:#A71916;
    --lilla: #200728;

      /* Fonte */
    --brodtekst: 'lato', sans-serif;
    --brodtekst-tynd: 300;
    --brodtekst-regular: 300;
    --overskrift: 'poppins', sans-serif;
    --overskrift-tyk: 900;
}

body {
  background-color: var(--rose);
}

.knap {
  position: absolute; /* Gør det muligt at placere knapperne i hjørnerne */
  width: 5%; /* Knappernes størrelse */
  height: auto; /* Knappernes størrelse */
  display: block; /* Sørger for hele billedområdet er klikbart */
  cursor: pointer; /* Gør musen til en pegende hånd ved hover */
  z-index: 10; /* Sørger for at knapperne ligger over andre elementer */
} 

/* Placering af knapper i hvert hjørne af skærmen */
.tilbage { 
  top: 20; 
  left: 20; 
}

h1 {
  font-family: var(--overskrift);/* Tekstens font */
  font-weight: var(--overskrift-tyk);/* Tykkelse på fonten */
  font-size: 400%; /* Tekst størrelse */
  color: var(--blod); /* Teksten farve */
  text-transform: uppercase; /* Gør alle bogstver store */
  justify-self: center; /* Centrere teksten */
}