:root{
    /*Farver*/
    --hvid: #FFF2E1;
    --rose: #FBC6C5;
    --stovet: #D16A68;
    --blod: #610505;
    --maroon: #840A08;
    --postkasserod:#A71916;
    --lilla: #200728;

      /* Fonte */
    --brodtekst: 'lato', sans-serif;
    --brodtekst-tynd: 300;
    --brodtekst-regular: 300;
    --overskrift: 'poppins', sans-serif;
    --overskrift-tyk: 900;
}

html, body {
  margin: 0; /* Fjerner standard margin */
  padding: 0; /* Fjerner standard padding */
  width: 100%; /* Gør elementet 100% af viewportens bredde */
  height: 100%; /* Gør elementet 100% af viewportens højde */
  overflow: hidden; /* Forhindrer både vandret og lodret scroll */
  touch-action: none; /* Forhindrer swipe, pinch-zoom og anden touch-adfærd på touch-skærme */
}

body {
  background-color: var(--rose);
}

.knap {
  position: absolute; /* Gør det muligt at placere knapperne i hjørnerne */
  width: 5%; /* Knappernes størrelse */
  height: auto; /* Knappernes størrelse */
  display: block; /* Sørger for hele billedområdet er klikbart */
  cursor: pointer; /* Gør musen til en pegende hånd ved hover */
  z-index: 10; /* Sørger for at knapperne ligger over andre elementer */
} 

h1 {
  font-family: var(--overskrift);/* Tekstens font */
  font-weight: var(--overskrift-tyk);/* Tykkelse på fonten */
  font-size: 400%; /* Tekst størrelse */
  color: var(--blod); /* Teksten farve */
  text-transform: uppercase; /* Gør alle bogstver store */
  justify-self: center; /* Centrere teksten */
}

main {
  display: flex;
}

.tekst-billeder {
  position: relative;
  width: 50%;           /* fx 90% af skærmbredden */
  aspect-ratio: 574 / 652; /* bevarer billedets formforhold */
  cursor: pointer;
  overflow: hidden;
  margin-top: -2%;
}

.tekst-billeder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;          /* 40% af containerens bredde */
  height: auto;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.tekst-billeder img.active {
  opacity: 1;
  z-index: 1;
}

.quiz-wrapper {
  position: relative;
  width: 50%;           /* fx 90% af skærmbredden */
  aspect-ratio: 574 / 652; /* bevarer billedets formforhold */
  margin-top: -2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;          /* 40% af containerens bredde */
  height: auto;
  object-fit: contain;
  z-index: 0;
}
