:root{
    /*Farver*/
    --hvid: #FFF2E1;
    --rose: #FBC6C5;
    --stovet: #D16A68;
    --blod: #610505;
    --maroon: #840A08;
    --postkasserod:#A71916;
    --lilla: #200728;

      /* Fonte */
    --brodtekst: 'lato', sans-serif;
    --overskrift: 'poppins', sans-serif;
    --overskrift-tyk: 900;
}

html, body {
  margin: 0; /* Fjerner standard margin */
  padding: 0; /* Fjerner standard padding */
  width: 100%; /* Gør elementet 100% af viewportens bredde */
  height: 100%; /* Gør elementet 100% af viewportens højde */
  overflow: hidden; /* Forhindrer både vandret og lodret scroll */
  touch-action: none; /* Forhindrer swipe, pinch-zoom og anden touch-adfærd på touch-skærme */
}

body {
  background-color: var(--stovet);
  overflow: hidden;
}

.knap {
  position: absolute; /* Gør det muligt at placere knapperne i hjørnerne */
  width: 5%; /* Knappernes størrelse */
  height: auto; /* Knappernes størrelse */
  display: block; /* Sørger for hele billedområdet er klikbart */
  cursor: pointer; /* Gør musen til en pegende hånd ved hover */
  z-index: 10; /* Sørger for at knapperne ligger over andre elementer */
} 

/* Placering af knapper i hvert hjørne af skærmen */
.tilbage { 
  top: 20; 
  left: 20; 
}

h1 {
  font-family: var(--overskrift);/* Tekstens font */
  font-weight: var(--overskrift-tyk);/* Tykkelse på fonten */
  font-size: 400%; /* Tekst størrelse */
  color: var(--hvid); /* Teksten farve */
  text-transform: uppercase; /* Gør alle bogstver store */
  justify-self: center; /* Centrere teksten */
}

.indhold{
  display: flex;
  justify-content: space-evenly;
}

.blob1{
  width: 50%;
  height: auto;
}

.quizbillede{
  width: 150%;
  height: auto;
}

.figur {
  position: absolute;
  width: 4%; 
  z-index: -1; /* bag indhold */
  pointer-events: none; /* så den ikke forstyrrer klik */
}

.figur1 {
  top: 8%;
  left: 37%;
  transform: rotate(90deg); /* Roterer med uret */
}

.figur2 {
  top: 30%;
  left: 1%;
  transform: rotate(210deg); /* Roterer med uret */
}

.figur3 {
  top: 90%;
  left: 3%;
  width: 6%; /*Ændre på nogle af størrelserne så der er forskel*/
}

.figur4 {
  top: 70%;
  left: 50%;
  transform: rotate(90deg); /* Roterer med uret */
}

.figur5 {
  top: 87%;
  left: 30%;
  transform: rotate(90deg); /* Roterer med uret */
  width: 2.5%; /*Ændre på nogle af størrelserne så der er forskel*/
}

.figur6 {
  top: 20%;
  left: 70%;
  transform: rotate(90deg); /* Roterer med uret */
}

.figur7 {
  top: 18%;
  left: 90%;
  transform: rotate(85deg); /* Roterer med uret */
  width: 2.7%; /*Ændre på nogle af størrelserne så der er forskel*/
}

.figur8 {
  top: 50%;
  left: 95%;
  transform: rotate(320deg); /* Roterer med uret */
  width: 2.7%; /*Ændre på nogle af størrelserne så der er forskel*/
}

.figur9 {
  top: 93%;
  left: 80%;
  transform: rotate(85deg); /* Roterer med uret */
  width: 2.7%; /*Ændre på nogle af størrelserne så der er forskel*/
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#efteraarsfigur{
  width: 10%;
  height: auto;
  display: flex;
  justify-self: center;
  margin-top: -11%;
}

#talebobbel{
  width: 35%;
  height: auto;
  display: flex;
  padding-left: 55%;
  margin-top: -14%;
}

.footer_tekst{
  font-family: var(--overskrift);
  font-weight: var(--overskrift-tyk);
  font-size: 72%;
  color: var(--stovet);
  text-align: center;
  display: flex;
  padding-left: 63%;
  margin-top: -6.3%;
}